.scrollup{
    position: fixed;
    right: 2.5em;
    bottom: -20%;
    background-color: var(--color-accent);
    padding: 0.4rem 0.7rem;
    border-radius: 14px;
    z-index: var(--z-tooltip);
}
.scrollup__icon{
    font-size: 1.75rem;
    color: var(--container-color);
}
.scrollup:hover{
    background-color: var(--color-accent-dark);
}
/* Show scroll */
.show-scroll{
    bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .scrollup{
        right: 1.5rem;
        /* padding: 0.25rem 0.4rem; */
    }
    .scrollup__icon{
        /* font-size: 1.25rem; */
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .show-scroll{
        bottom: 4rem;
    }
  }

  /* For small devices */
  @media screen and (max-width: 350px) {
   .scrollup{
         right: 1rem;
   }
  }