.skills__container{
    justify-content: center;
    margin-top: 0 !important;
}
.skills__content{
  
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    gap: 1.4rem;
    border-radius: 1rem;
  
}
.tech__stack__ctn{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 2rem 1rem 2rem 0; */
    padding-left: 2rem;
    padding-top: 1rem;
}
.skills__head{
    text-align: left;
    font-weight: var(--font-semi-bold);
    color: var(--title-color-dark);
    text-transform: uppercase;

}

.skills__content li img{
    transition: all 0.3s ease-in-out;
}
.skills__content li img:hover{
    transform: scale(1.2);
}

.skills__ball__box{
    display: grid;
    place-items: center;
    row-gap: 0.5rem;
}
.skills__ball{
    width: 5rem;
    height: 5rem;
    background: var(--body-color);
    border-radius: 50%;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills__icon{
    font-size: 2rem;
    color: var(--title-color);
    animation: moveIcon 1s infinite;
    
}

/*=============== 
      BREAKPOINTS 
  ===============*/
/* For large devices */
   
   @media screen and (max-width: 576px) {
    .skills__content{
        padding: 1rem 1rem 2rem;
    }
    .skills__ball{
        width: 3rem;
        height: 3rem;
    }
    .skills__icon{
        font-size: 1rem;
    }
    .skills__head{
        text-align: center;
    }
   }
   
   /* For small devices */
   @media screen and (max-width: 350px) {
   
   }